// Projects Page
.projectImg{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}
