footer{
  height: 60px;
  width: 100%;
  background-color: transparent;
  color: #767676;
  text-align: center;
  position:relative;
  left:0;
  bottom:0;
  right:0;
  z-index: 2;
}
// .phantom{
//  display: block;
//  height: 30px;
//  width: 100%;
// }
