html{
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

button {
  padding: 16px;

  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h3, h4 {
  font-family: 'Lobster', cursive;
  margin-bottom: 0;
}

p{

}

.page{
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

#page-body {
  max-width: 950px;
  height: 100%;
  margin: auto;
  padding: 25px;
  padding-top: 64px;
}

.page-title{
  font-family: 'Lobster', cursive;
  font-size: 2em;
  margin-bottom: 0px;
  margin-left: 50px;
  color: #db4292;
}

.projectImg{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.grid-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 1rem;
  padding: 50px;
}

.grid-item {
  height: 467px;
  margin-top: 50px;
  max-width: 400px;
}
.project-title{
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: left;
  color: #db4292;
}
.project-desc{
  margin-bottom: 20px;
  text-align: left;
  height: auto;
}
.project-icon{
  font-size: 25px;
}

.fa-icon{
  margin: 10px;
  left: -8px;
  position: relative;
}
a{
  color: $primary-text;
}
a:hover{
  color: $night-header-text;
}
