// Home Page Styles

.home-container{
  // height: 70vh;
  max-width:895px;
}

.hacky-block{
  min-height: 465px;
}

.title-txt{
  margin-top: 10%;
  font-size: 8vw;
  text-align: center;
  color: $hot-pink;
  text-shadow: 2px 2px 4px #3b2a32;
  font-family: 'Rock Salt', cursive;
}
.sub-title{
  font-size: 4vw;
  text-align: center;
  color: $hot-pink;
  text-shadow: 2px 2px 4px #3b2a32;
}

.dkNav{
  color: $primary-text;
}
.ltNav{
  color: $primary-text;
}
// Night Day Styles
.square {
  width: 100px;
  height: 45px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  margin: 50px auto;
  color: white;
  border-radius: 5px;
  border: none;
}

button:active {
  outline: none;
}
button:focus {
  outline:none;
}
.center-align{
  text-align: center;
}
.switch-off {
  background-color: $hot-pink;
  color: #fff;
  text-shadow:
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #f696e0,
  0 0 40px #f77cd6,
  0 0 50px #e154b4,
  0 0 60px #db4292,
  0 0 70px $hot-pink;
  box-shadow: 0px 0px 55px 20px #f77cd6;
  -webkit-animation: btnGlow 3s ease-in-out infinite alternate;
  -moz-animation: btnGlow 3s ease-in-out infinite alternate;
  animation: btnGlow 3s ease-in-out infinite alternate;
}
.switch-on {
  background-color: $hot-pink;
  box-shadow: 2px 2px 4px #3b2a32;

}
.switch-on:hover {
  background-color: #f77cd6;
}
.bg-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  transition: background-color .5s ease;
}
.light-off {
  background-color: black;
  background-image: url('../imgs/purpleneon.png');
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.light-on {
  background-color: white;
  color: black;
  background-image: url('../imgs/whitewall.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.textGlow{
  color: #fff;
  text-shadow:
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #f696e0,
  0 0 40px #f77cd6,
  0 0 50px #e154b4,
  0 0 60px #db4292,
  0 0 70px $hot-pink;
  animation: textGlow 1s ease-in-out infinite;
}

@-webkit-keyframes textGlow {
  from {
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #f696e0,
    0 0 40px #f77cd6,
    0 0 50px #e154b4,
    0 0 60px #db4292,
    0 0 70px $hot-pink;
  }
  to {
    text-shadow:
    0 0 20px #fff,
    0 0 30px #ff4da6,
    0 0 40px #ff4da6,
    0 0 50px #ff4da6,
    0 0 60px #ff4da6,
    0 0 70px #ff4da6,
    0 0 80px $hot-pink;
  }
}

@-webkit-keyframes btnGlow {
  0%{
    background-color: #fff;
  }
  20%{
    background-color: #f696e0;
  }
  40%{
    background-color: #f77cd6;
  }
  60%{
    background-color: #e154b4;
  }
  80%{
    background-color: #db4292;
  }
  100%{
    background-color: $hot-pink;
  }
}
