// Home Page Styles

.home-container{
  height: auto;
  max-width:895px;
}
.title-txt{
  margin-top: 20%;
  font-size: 60px;
  text-align: center;
}
.sub-title{
  font-size: 30px;
  text-align: center;
}

.dkNav{
  color: $primary-text;
}
.ltNav{
  color: $primary-text;
}
// Night Day Styles
.square {
  width: 75px;
  height: 25px;
  padding: 15px;
  text-align: center;
  margin: 0px auto;
  // vertical-align: middle;
  // position: absolute;
  // left: 50%;
  // top: 50%;
  background-color: lightgray;
  color: white;
  border-radius: 20px 20px 20px 20px;
}
.switch-off {
  background-color: $night-header-text;
  color: #fff;
  text-shadow:
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #f696e0,
  0 0 40px #f77cd6,
  0 0 50px #e154b4,
  0 0 60px #db4292,
  0 0 70px $night-header-text;
  box-shadow: 0px 0px 55px 20px #f77cd6;
  -webkit-animation: btnGlow 3s ease-in-out infinite alternate;
  -moz-animation: btnGlow 3s ease-in-out infinite alternate;
  animation: btnGlow 3s ease-in-out infinite alternate;
}
.switch-on {
  background-color: #000;
}
.bg-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: -1;
  transition: background-color .5s ease;
}
.light-off {
  background-color: transparent;
  background-image: url('../imgs/joel-fulgencio-01fAtHwYqo0-unsplash.jpg');
  color: #fff;
  width: 100vw;
  height: 100vh;
}


.light-on {
  background-color: white;
  color: black;
}

.textGlow{
  color: #fff;
  text-shadow:
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #f696e0,
  0 0 40px #f77cd6,
  0 0 50px #e154b4,
  0 0 60px #db4292,
  0 0 70px $night-header-text;
  animation: textGlow 1s ease-in-out infinite;
}

@-webkit-keyframes textGlow {
  from {
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #f696e0,
    0 0 40px #f77cd6,
    0 0 50px #e154b4,
    0 0 60px #db4292,
    0 0 70px $night-header-text;
  }
  to {
    text-shadow:
    0 0 20px #fff,
    0 0 30px #ff4da6,
    0 0 40px #ff4da6,
    0 0 50px #ff4da6,
    0 0 60px #ff4da6,
    0 0 70px #ff4da6,
    0 0 80px $night-header-text;
  }
}

@-webkit-keyframes btnGlow {
  0%{
    background-color: #fff;
  }
  20%{
    background-color: #f696e0;
  }
  40%{
    background-color: #f77cd6;
  }
  60%{
    background-color: #e154b4;
  }
  80%{
    background-color: #db4292;
  }
  100%{
    background-color: $night-header-text;
  }
}
