// Home Page Styles
.lightMode{
  .home-container{
    // height: 70vh;
    max-width:895px;
  }

  .hacky-block{
    min-height: 465px;
  }
  .home{
    // max-width: ;
  }
  .title-txt{
    margin: auto;
    width: 100%;
    font-size: 6vw;
    text-align: center;
    color: $primary-text;
    text-shadow: 2px 2px 4px #3b2a32;
    font-family: 'Rock Salt', cursive;
  }
  .sub-title{
    font-size: 3vw;
    text-align: center;
    // background: -webkit-linear-gradient( $hot-pink, $purple);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // text-shadow: 2px 2px 4px #3b2a32;
    color: $hot-pink;
  }

  .vertical-align-middle{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media only screen and (max-width: 700px){
    .vertical-align-middle{
      left: 10%;
      top: 40%;
    }
    .title-txt{
      font-size: 9vw;
    }
    .sub-title{
      font-size: 5vw;
    }
  }


  .ltNav{
    color: $primary-text;
  }
  // Night Day Styles



  .switch-on {
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

  }
  .switch-on:hover {
    background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
  }

  .bg-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    transition: background-color .5s ease;
  }



  .homeBG {
    background-color: white;
    background-image: url('../imgs/whitewall.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
}
