nav {
  // text-align: right;
  // position: relative;
  // top: 0;
  // width: 100%;
  // background: transparent;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  // display: inline-block;
  // padding-top: 16px;
  // padding-bottom: 16px;
  // list-style: none;
}

nav a {
  text-decoration: none;
  color: $primary-text;
  font-weight: bold;
  padding: 16px 32px;
}

nav a:hover {
  color: #fff;
  text-shadow:
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #f696e0,
  0 0 40px #f77cd6,
  0 0 50px #e154b4,
  0 0 60px #db4292,
  0 0 70px #bd2453;
}

nav .desktop-nav{
text-align: right;
position: relative;
top: 0;
width: 100%;
background: transparent;
}
//
// nav ul .desktop-ul{
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//
// }
//
.desktop-li{
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  list-style: none;
}

.res-menu{
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  color: $primary-text;

}

.burger-btn{
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  display: none;
  position: fixed;
  top: 0;
  right: 30px;
  z-index: 100;
}

.side-menu{
  display: block;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0,0,0, 0.5);
  width: 400px;
  height: 100vh;
  top:0;
  right: 0;
  position: fixed;
  z-index: 99;
  transform: translateX(400px);
  transition: transform 0.3s ease-out;
}

.side-menu.open{
  transform: translateX(0px);
}

.back-drop{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  top: 0;
  right: 0;
  z-index: 98;
  transition: 0.3s ease-out;
}

.mobile-ul{

}
.mobile-li li {
  display: block;
}

@media only screen and (max-width: 640px){
  .burger-btn{
    display: block;
  }
  .desktop-nav{
    display: none;

  }
}
@media only screen and (min-width: 641px){
  .side-menu{
    display: none;
  }
  .back-drop{
    display: none;
  }
}
