nav {
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: $primary-text;
  font-weight: bold;
  padding: 16px 32px;
}

nav a:hover {
  color: #fff;
  text-shadow:
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #f696e0,
  0 0 40px #f77cd6,
  0 0 50px #e154b4,
  0 0 60px #db4292,
  0 0 70px #bd2453;
}
